* {
  box-sizing: border-box;
  cursor: default;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: #ddd;
}
.options {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
  font-size: 20px;
  background-color: #FFF;
  box-shadow: #555 0 0 10px;
}
.options__image {
  display: block;
  width: 100%;
}
.options__props {
  float: left;
  width: 100%;
}
.options__row {
  float: left;
  width: 100%;
  min-height: 35px;
  max-height: 90px;
  padding: 10px 10px;
  line-height: 35px;
}
.options__row._context {
  line-height: 20px;
}
.options__row._photos {
  margin-top: 0;
}
.options__text {
  float: left;
  width: 70%;
}

/* Switch */

.switch {
  position: relative;
  top: 5px;
  float: right;
  width: 75px;
  cursor: pointer;
  -webkit-user-select: none;
}
.changer-checkbox {
  display: none;
}
.changer-label {
  display: block;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
}
.changer-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin .2s ease 0;
}
.changer-inner:before, .changer-inner:after {
  display: block;
  float: left;
  box-sizing: border-box;
  width: 50%;
  height: 24px;
  padding: 0;
  line-height: 21px;
  color: #FFF;
}
.changer-inner:before {
  padding-left: 21px;
  color: #FFF;
  background-color: #2A9E1B;
  content: "Вкл.";
}
.changer-inner:after {
  padding-right: 21px;
  color: #FFF;
  background-color: #7D1010;
  content: "Выкл.";
  text-align: right;
}
.changer-switch {
  position: absolute;
  right: 53px;
  bottom: 0.5px;
  display: block;
  width: 16px;
  height: 16px;
  margin: 3.5px;
  border-radius: 15px;
  background: #FFF;
  transition: all .2s ease 0;
}
.changer-checkbox:checked + .changer-label .changer-inner {
  margin-left: 0;
}
.changer-checkbox:checked + .changer-label .changer-switch {
  right: 0;
}
.switch {
  width: 100px;
}
.changer-switch {
  right: 78px;
}
